:root {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
  font-weight: 400;
  color: #000dff;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border-style: dashed;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

  a:hover {
    color: rgb(251, 255, 0);
  }
  
  button {
    background-color: #f9f9f9;
  }
